:root {
    --light: #FAFAFA;

    --green-100: rgba(0, 98, 40, 0.04);
    --green-700: #0F9246;
    --green-900: #006228;

    --yellow-800: #FFC214;
    --yellow-900: #ffbb00;


    --p-section: 4rem 2rem;
}

.gradientBackground{
  background-image: linear-gradient(rgba(0, 98, 40,0.11), rgba(255, 194, 20, 0.11));   
}

.text-light {
  color: var(--light);
}

@media (max-width: 768px) {
    :root {
      --p-section: 3rem 1rem;
    }

    .franchiseContent {
        text-align: center;
        margin-bottom: 2rem;
    }
  }