.content {
  background-image: (rgba(0, 98, 40, 0.11), rgba(255, 194, 20, 0.11));
}

section {
  padding: var(--p-section);
}

.franchiseText {
  color: var(--green-900);
  text-align: left;
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 2rem;
}

.greenBG {
  background-color: var(--green-900);
}

.whyText {
  color: var(--yellow-900);
  text-align: left;
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 2rem;
}

.whyDescribe {
  color: var(--light);
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 400;
}

.custom-title {
  color: var(--green-900);
  font-weight: 700;
  font-size: 1.5rem;
  text-align: left;
}

.custom-text {
  color: var(--green-900);
  text-align: justify;
}

.steps {
  color: var(--green-900);
  text-align: left;
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 2rem;
}

.stepBox {
  margin-top: 1rem;
  background-color: rgba(0, 98, 40, 0.2);
  border-radius: 15px;
  padding: 3rem;
}

.stepText {
  color: var(--green-900);
  text-align: justify;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 2rem;
}

.apply1 {
  color: var(--green-900);
  text-align: left;
  font-size: 3rem;
  font-weight: 800;
  padding-left: 4rem;
  padding-top: 7.3rem;
}

.apply2 {
  color: var(--green-900);
  text-align: left;
  font-size: 3rem;
  font-weight: 800;
  padding-left: 4rem;
}

.applyText {
  color: var(--green-900);
  text-align: justify;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 4rem;
  padding-right: 4rem;
  font-weight: 500;
}

.background-section {
  position: relative;
}

.background-image {
  position: absolute;
  top: 45%;
  right: 0;
  height: 29%;
}

@media (max-width: 767.98px) {
  .franchiseText {
    font-size: 2rem;
  }
  .apply1 {
    font-size: 2rem;
  }
  .apply2 {
    font-size: 2rem;
  }
  .background-image{
    display: none;
  }
}
