.carousel .cardCarousel {
  flex-basis: 30%;
  max-width: 300px;
  min-width: 300px;
}

.carousel .image-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.carousel .cardCarousel img {
  inline-size: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.carousel .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel .carousel-indicators {
  display: none;
}
