a {
    color: var(--green-900);
    text-decoration: none;
}

a:hover {
    color: var(--green-700);
}

.buttonDelivery {
    justify-content: end;
}

@media (max-width: 768px) {
    .buttonDelivery {
        justify-content: left;
    }
  }