.content{
    background-image: linear-gradient(rgba(0, 98, 40,0.11), rgba(255, 194, 20, 0.11));   
}
section {
    padding: var(--p-section);
}

p{
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    text-align: justify;
    width: 90%;
}

.textimg{
    margin-bottom: 1rem;
}

.position-relative {
    position: relative;
}
  
.btn-overlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.workfranchise{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}




  
  





