section {
    padding: var(--p-section);
}

.paragraph{
    font-weight: 400;
    text-align: justify;
}

.textimg{
    margin-bottom: 1rem;
}

.position-relative {
    position: relative;
}
  
.btn-overlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.workfranchise{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}




  
  





